<% include common/header %>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="jumbotron">
                <h1><%= title %></h1>
                <p>Sorry, the resource you looking for is missing or maybe was deleted...</p>
                <p><a class="btn btn-primary btn-lg" href="/">return Homepage</a></p>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>