<% include common/header %>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h2><%= title %></h2>

                <div class="widget-login">
                    <a href="/auth/google" class="btn btn-default btn-sn-google">
                        <span class="icon-sn-google"></span>
                        Google
                    </a>
                    <a href="/auth/facebook" class="btn btn-default btn-sn-facebook">
                        <span class="icon-sn-facebook"></span>
                        Facebook
                    </a>
                    <a href="/auth/github" class="btn btn-default btn-sn-github">
                        <span class="icon-sn-github"></span>
                        Github
                    </a>
                    <a href="/auth/weibo" class="btn btn-default btn-sn-weibo">
                        <span class="icon-sn-weibo"></span>
                        微博
                    </a>
                    <a href="/auth/douban" class="btn btn-default btn-sn-douban">
                        <span class="icon-sn-douban"></span>
                        豆瓣
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>