<!DOCTYPE html>
<html ng-app="storageApp">
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://medialize.github.io/jQuery-contextMenu/src/jquery.contextMenu.css" rel="stylesheet"
          type="text/css"/>
</head>
<body ng-controller="storageController">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-lg-4">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Cloud-Driver</a>
            </div>
            <div id="navbar-main">
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav" id="path-actions">
                    <ul id="pathLinks" class="horizontal ng-cloak">
                        <li ng-repeat="linkPath in linkPaths" class="action">
                            <a href="#{{ !$first ? linkPath.i : '' }}"
                               ng-click="bindingWithPath(linkPath.i);">{{ $first
                                ? 'root' : linkPath.t }}</a>
                        </li>
                    </ul>
                </div>
                <div class="nav navbar-nav" id="alert-actions">
                    <span id="folderNameLabel" class="label label-primary" style="display: none"></span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div id="global-actions">
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div id="view" class="modal">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ currentFile.name }}</h4>
            </div>
            <div id="viewContainer" style="height:426px;">
                <iframe id="viewFrame"
                        onload="parent.document.getElementById('viewContainer').style.height=parent.document.getElementById('view').scrollHeight + 'px'"></iframe>
            </div>
        </div>
    </div>
</div>