<!DOCTYPE html>
<html ng-app="storageApp">
<head>
    <meta charset="utf-8"/>
    <title>Cloud Drive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://medialize.github.io/jQuery-contextMenu/src/jquery.contextMenu.css" rel="stylesheet"
          type="text/css"/>
</head>
<body ng-controller="storageController">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Cloud-Driver</a>
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><%= user.name %>
                            <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="#">设置</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="nav navbar-nav" id="alert-actions">
                    <span id="folderNameLabel" class="label label-primary" style="display: none"></span>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <div id="global-actions">
                        <ul class="horizontal">
                            <li class="action">
                                <label for="upload_button">
                                    <a id="upload_button" name="action" data-value="upload"
                                       data-title="上传…">
                                        <img alt="上传…" src="/images/icon_spacer.gif"
                                             class="sprite sprite_web s_web_upload_16">
                                    </a>
                                </label>
                            </li>
                            <li class="action">
                                <label for="new_folder_button">
                                    <a id="new_folder_button" name="action" data-value="upload"
                                       data-title="新的文件夹">
                                        <img alt="新的文件夹" src="/images/icon_spacer.gif"
                                             class="sprite sprite_web s_web_folder_add">
                                    </a>
                                </label>
                            </li>
                            <li class="action">
                                <form class="s_web_search">
                                    <input type="text" class="form-control col-lg-10" placeholder="搜索">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="uploader" class="modal fade">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">上传到 {{ model.currentFolder.route }} </h4>
            </div>
            <div class="modal-body">
                <!--<div>-->
                    <!--<progress id="progressBar" value="0" max="100"></progress>-->
                <!--</div>-->
                <div id="progressBars">

                </div>
                <input type="button" id="choose-button" value="选择文件" class="btn btn-primary">

                <input type="file" id="choose-file" class="hidden" multiple="multiple" />
                <input type="hidden" id="fileName"/>
            </div>
        </div>
    </div>
</div>

<div id="confirm" class="modal">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure to delete？</h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure to delete <span id="confirmName" class="text-danger"></span> from drive?
                    <input type="hidden" id="deleteName"/>
                    <input type="hidden" id="deleteType"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="sureDelete" type="button" class="btn btn-primary">Sure</button>
            </div>
        </div>
    </div>
</div>

<div id="share" class="modal">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Share link to <span class="shareName"></span></h4>
            </div>
            <div class="modal-body">
                <p>
                    <input type="text" readonly="True" id="shareLink" class="form-control"/>
                    <br/>
                    Copy or Click this link:
                    <a id="shareHref" target="_blank"><span class="shareName"></span></a>
                    <input type="hidden" id="shareInfo"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="rename" class="modal">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Rename</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">:)</span>
                    <input type="text" id="renameName" class="form-control"/>
                    <span class="input-group-btn">
                      <button id="sureRename" class="btn btn-default" type="button">Rename</button>
                    </span>
                </div>
                <input type="hidden" id="renameInfo"/>
            </div>
        </div>
    </div>
</div>

<div id="view" class="modal">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ currentFile.name }}</h4>
            </div>
            <div id="viewContainer" style="height:426px;">
                <iframe id="viewFrame"
                        onload="parent.document.getElementById('viewContainer').style.height=parent.document.getElementById('view').scrollHeight + 'px'"></iframe>
            </div>
        </div>
    </div>
</div>