<table id="storageTable" class="table table-striped table-hover" style="display: none;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Modified</th>
    </tr>
    </thead>

    <tr ng-repeat="folder in folders">
        <td class="filename-col">
            <img class="sprite sprite_web s_web_folder_32 icon"
                 src="/images/icon_spacer.gif">
            <a href="#{{ folder.route }}" ng-click="navigate($index)">{{ folder.name }}</a>
        </td>
        <td>folder</td>
        <td>--</td>
    </tr>

    <tr ng-repeat="file in files">
        <td class="filename-col">
            <img class="sprite sprite_web {{ file.mime.i }} icon" alt="{{ file.name }}"
                 src="/images/icon_spacer.gif">
            <a href="#">{{ file.name }}</a>
        </td>
        <td>{{ file.mime.t }}</td>
        <td>{{ file.modified }}</td>
    </tr>
    <% if (storage){ %>
    <input id="storageData" type="hidden" value="<%= JSON.stringify(storage) %>"/>
    <input id="currentPath" type="hidden" value="{{ storageModel.currentPath }}"/>
    <% } %>
</table>