<% include header %>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-4">
                <h1><%= title %></h1>

                <% if (user){ %>
                    <dl>
                        <dt><%= user.name %></dt>
                        <dd><img src="<%= user.avatar %>" class="avatar" /></dd>
                    </dl>
                <% } %>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-6">
                <% include storage %>
                <input type="hidden" id="port" value="<%= port %>" />
            </div>
        </div>
    </div>
</div>
<% include footer %>
